extends layout

block content
  body
    div.weapons-container
      h2.h2-header= title
        if category_weapons.length == 0
          p.empty Category is empty.
        else
          each category in category_weapons
            li(class="weapon")
              a(href=category.url) #{category.name}