extends layout

block content
  body
    h2= title
    div
      if category_weapons.length == 0
        p Category is empty.
      else
        each category in category_weapons
          li
            a(href=category.url) #{category.name}