head
    body
      div.header
        a.title(href="/inventory") Fallout Weapons
        ul
          li
            a.category(href="/inventory") Home
          //- li.dropdown
          //-   a Categories
          //-   div.dropdown-menu
          //-     each category in category_list
          //-       a.category(href=category.url) #{category.name}
          li
            a.category(href="/inventory/weapon/create") Create