extends layout

block content
  body
    h2.weapons-header= title
    div.weapons-container
      each weapon in weapon_list
        li(class="weapon")
          a.weapon(href=weapon.url) #{weapon.name}