extends layout

block content
  div.container
    h1= title

    form(method='POST' action='')
      div.form-group
        label(for='name') Name:
        br
        input.form-control(type='text' placeholder='Name' name='name' required='true' value=(undefined===weapon ? '' : weapon.name))
        br
        label(for="category") Category 
        select(name="category" id="category")
          for category in category_list
            option(value=category._id) #{category.name}
        br
        label(for='description') Description:
        br
        input.form-control(type='text' name='description' placeholder="Description" value=(undefined===weapon ? '' : weapon.description))
      div.form-group
        label(for='damage') Damage:
        br
        input.form-control(type='text' name='damage' placeholder="50" value=(undefined===weapon ? '' : weapon.damage))
        br
        label(for='price') Price:
        br
        input.form-control(type='text' name='price' placeholder="$100" value=(undefined===weapon ? '' : weapon.price))
        br
        label(for='weight') Weight:
        br
        input.form-control(type='text' name='weight' placeholder="10.5" value=(undefined===weapon ? '' : weapon.weight))
        br
        label(for='ammo') Ammo:
        br
        input.form-control(type='text' name='ammo' placeholder="10mm" value=(undefined===weapon ? '' : weapon.ammo))
        br
        label(for='range') Range:
        br
        input.form-control(type='text' name='range' placeholder="70" value=(undefined===weapon ? '' : weapon.range))
        br
        label(for='accuracy') Accuracy:
        br
        input.form-control(type='text' name='accuracy' placeholder="73" value=(undefined===weapon ? '' : weapon.accuracy))
        br
        label(for='clipSize') Clip Size:
        br
        input.form-control(type='text' name='clipSize' placeholder="24" value=(undefined===weapon ? '' : weapon.clipSize))
        br
        label(for='src') URL:
        br
        input.form-control(type='text' name='src' placeholder="image.png" value=(undefined===weapon ? '' : weapon.src))
      button.submit-button(type='submit') Submit
    if errors
      ul
        for error in errors
          li!= error.msg