body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

/* Header */
.header {
  display: flex;
  list-style: none;
  padding: 0.5em;
}

.header li {
  padding: 1em;
}

/* weapons */
.weapons-container {
}

.weapons-container li {
  list-style: none;
  padding: 0.5em;
}

.weapon {
}
